body {
            background-color: white;
            margin: 0;
        }

        * {

            box-sizing: border-box;
        }

        nav {
            background-color: white;
            display: flex;
            position: relative;
            height: 13vh;
            width: 100vw;
            z-index: 1000;

            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

        }

        nav div {
            display: flex;
            align-items: center;
        }

        .img img {
            justify-content: flex-start;
            object-fit: contain;
            height: 80%;
            width: auto;
            margin-left: 10vw;
            align-items: baseline;
            max-height: 80%;
        }

        .icons ul {
            list-style: none;
            display: flex;
            gap: 30px;
            margin: 0;
            padding: 0;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-right: 15vw;
            margin-left: 12vw;
            align-items: center;
        }

        .icons li {
            font-style: normal;
            font-size: 1.25rem;
            color: rgb(13, 12, 12);
            transition: color 0.5s ease;
          
        }

        .icons li:hover {
            color: rgb(255, 0, 0);
            
        }

        .button {
            display: flex;
            gap: 2vw;

        }

        .button span button {
            background-color: rgb(255, 255, 255);
            color: black;
            padding: 10px 30px;
            border: none;
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            border-radius: 5px;
            border: 2px solid black;
            transition: color 0.5s ease, background-color 0.5s ease;
        }

        .button span button:hover {
            color: rgb(255, 255, 255);
            background-color: black;
        }

        span {
            font-size: 1.20rem;
        }

        .button img {
            height: 22px;
            width: 22px;
            cursor: pointer;
        }